
.header{
    position: relative;
}
.header-container{
    height: 95px;
}
.header-nav-content>li>a {

    color: #6e6e6e;
 }

/*头部导航列表项hover效果 */

.header-nav-content>li:hover>a {
    border-color: rgba(207, 199, 254, 0.5);
}
.header-nav-content.purple>li>ul a:hover{
    border-left: 4px solid #9e93e0;
    color: #665c92;
    background-color: rgba(213, 195, 251, 0.54);
}

.header-nav-content>li>ul a {
    display: inline-block;
    width: 180px;
    text-indent: 2em;
    color: #4f4f4f;
    border-left: 4px solid #9e93e0;
    transition: border 0.2s, color 0.2s, background-color 0.2s;
}

/* 标题栏*/
.top-title{
    height: 95px;
    width: 100%;
    background-color: #7b6cd5;
}
.top-title .title{
    margin: 0 auto;
    width: 1170px;
    line-height:95px;
    vertical-align: middle;
}
.top-title .title .checkout{
    float: left;
    font-size: 48px;
    font-family:"Poppins";
    color: white;
}
.top-title .title a{
    color: #cac4ee;
}
.top-title .title p{
    float: right;
    font-size: 18px;
    color: #cac4ee;
}

/*<!--内容区块-->*/
.content{
    width: 1170px;
    margin: 0 auto;
    position: relative;

}
.content .click {
    padding:30px 0 ;
}
.content .click p{
    padding: 20px 0;
    padding-left: 30px;
    border-radius: 50px;
    background-color: rgba(242, 240, 251, 0.82);
    margin-top:20px;
    color: #565656;
    font-family:"Poppins";
}
.content .click p span{
    color: #7b6cd5;
}

/*填写个人信息*/
.presonal-masge{
    overflow:hidden;
}
.presonal-masge .billing{
    float: left;

}
.presonal-masge .addit{
    float: right;
}
.presonal-masge .title{
    font-size: 24px;
    font-family:"Poppins";
    color:#7b6cd5;
}
.presonal-masge p{
    font-size: 18px;
    color: #474747;
    margin-top: 15px;

}
.presonal-masge p span{
    padding-left: 15px;
}
.presonal-masge p input{
    width: 470px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 50px;
    border: 1px solid #bdb5ea;
    border-left: hidden;
    margin-top: 5px;
    outline: none;
}
.presonal-masge p select{
	 width: 510px;
    height: 44px;
    padding: 5px 20px;
    border-radius: 50px;
    border: 1px solid #bdb5ea;
    border-left: hidden;
    margin-top: 5px;
    outline: none;
}

.presonal-masge .billing .create{
    width: 470px;
    background-color: #f2f0fb;
    padding:20px;
}

.presonal-masge .addit{
    width: 470px;
}
.presonal-masge .addit textarea{
    max-height: 40px;
    min-height: 40px;
    max-width: 428px;
    min-width: 428px;
    resize: none;
    padding: 20px;
    border-radius: 25px;
    border-color: #bdb5ea;
    margin-top: 5px;
    outline: none;
}
.content .order {
    margin-top: 40px;

}
.content .order .yourorder{
    font-size: 24px;
    font-family:"Poppins";
    color:#7b6cd5;
}
.presonal-masge .billing .input-check {
    position: relative;
}
.presonal-masge .billing .input-check #check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #bdb5ea;
    border-radius: 3px;
    background-color: #fff;
}
.presonal-masge .billing  .triangle{

    position: absolute;
    height: 2px;
    content: '';
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 21px solid #f2f0fb;
    margin-left: 90px;
}

.content .order .product ul li{
    height: 70px;
    line-height:70px;
    vertical-align: middle;
    border-bottom: 1px solid #e5e2f7;
}
.content .order .product ul li:hover{
    font-weight:600;
    color: #7b6cd5;
    background-color: #f7f6fb;
}
.content .order .product ul .pro{
    height: 50px;
    line-height:50px;
    vertical-align: middle;
    background-color: #ebe9f9;
}
.content .order .product ul .fl{
    padding-left:20px;
}
.content .order .product ul .fr{
    padding-right: 138px;
}
.content .order p{
    font-size: 18px;
    font-family:"PTSans";
    color: #707273;
    margin-top: 35px;
}
.content .place_order{
    display: inline-block;
    width:215px;
    color: #fff;
    font-size: 18px;
    font-family:"PTSans";
    line-height:45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    background-color: #ea8fca;
    margin-top: 35px;
    margin-bottom:100px;
}